html, body { background-color: rgb(247, 247, 247); }

body { font-family: "Lato", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }

h5 {
  text-transform: uppercase;
  font-family: "Noto Sans TC", Raleway, Arial, sans-serif;
}

main, .component { margin: 1rem; }

header {
  background-color: #fff;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
}

.side-bar { min-width: 300px; }

.side-bar, .bg-dark { background-color: #212529!important; }

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:rgba(109, 109, 109, 0.466);
  height: 1px;
}
